### Recommendations Rank & Knowledge Based:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

In [21]:
movies.tail()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
31240,8335880,Loro 2 (2018),Biography,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31241,8342748,Hari Kondabolu: Warn Your Relatives (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31242,8342946,Tig Notaro: Happy To Be Here (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31243,8402090,Cumali Ceber 2 (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31244,8439854,Lust Stories (2018),Drama,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
reviews.head()

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [4]:
reviews.shape

(712337, 23)

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [5]:
def popular_recommendations(user_id, n_top):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    # get movies with at least 5 reviews
    ids = (reviews.movie_id.value_counts() >= 5)
    ids = ids[ids == True].index.tolist()
    min_5 = reviews.query(f'movie_id == {ids}')

    
    ratings = min_5.groupby('movie_id')['rating']
    avg_ratings = ratings.mean()
    n_ratings = ratings.count()
    recent_rating = pd.DataFrame(min_5.groupby('movie_id').max()['date'])

    min_5 = pd.DataFrame({'avg_rating': avg_ratings,
                                    'n_ratings': n_ratings,
                                    'recent_rating':recent_rating.date})
    
    # get movies names
    movie_df = movies.set_index('movie_id')[['movie']].join(min_5, how='right')

    # sort by avg rating then number of ratings then the most recent review
    top_df = movie_df.sort_values(['avg_rating', 'n_ratings', 'recent_rating'], ascending=False)
    
    return list(top_df['movie'][:n_top])

In [6]:
popular_recommendations(1, 20)

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'SÃ¡tÃ¡ntangÃ³ (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Akahige (1965)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'KÃ¶rkarlen (1921)']

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [7]:
# Put your solutions for each of the cases here

# Top 20 movies recommended for id 1

recs_20_for_1 = popular_recommendations('1', 20)# Your solution list here

# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations('53968', 5) # Your solution list here

# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations('70000', 100) # Your solution list here

# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations('43', 35)# Your solution list here

In [8]:
### You Should Not Need To Modify Anything In This Cell
ranked_movies = t.create_ranked_df(movies, reviews) # only run this once - it is not fast

# check 1 
assert t.popular_recommendations('1', 20, ranked_movies) == recs_20_for_1,  "The first check failed..."
# check 2
assert t.popular_recommendations('53968', 5, ranked_movies) == recs_5_for_53968,  "The second check failed..."
# check 3
assert t.popular_recommendations('70000', 100, ranked_movies) == recs_100_for_70000,  "The third check failed..."
# check 4
assert t.popular_recommendations('43', 35, ranked_movies) == recs_35_for_43,  "The fourth check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

If you got here, looks like you are good to go!  Nice job!

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same? 

```
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])
```

In [25]:
t.popular_recs_filtered('1', 20, ranked_movies, years=[2015, 2016, 2017, 2018], genres=['History', 'Comedy'])

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Make Like a Dog (2015)',
 'Be Somebody (2016)',
 'Poshter Girl (2016)',
 'Ayla: The Daughter of War (2017)',
 'I Believe in Miracles (2015)',
 'Bajrangi Bhaijaan (2015)',
 'The Farthest (2017)',
 'Ricky Gervais: Humanity (2018)',
 'Coco (2017)',
 'The Age of Spin: Dave Chappelle Live at the Hollywood Palladium (2017)',
 'Sado (2015)',
 'Adult Life Skills (2016)',
 'Hatred (2016)',
 'Inside Out (2015)',
 'La vida inmoral de la pareja ideal (2016)',
 'World of Tomorrow (2015)',
 'Toc Toc (2017)']

In [31]:
def popular_recommendations_filtered(user_id, n_top, years=None, genres=None):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    # get movies with at least 5 reviews
    ids = (reviews.movie_id.value_counts() >= 5)
    ids = ids[ids == True].index.tolist()
    min_5 = reviews.query(f'movie_id == {ids}')

    
    ratings = min_5.groupby('movie_id')['rating']
    avg_ratings = ratings.mean()
    n_ratings = ratings.count()
    recent_rating = pd.DataFrame(min_5.groupby('movie_id').max()['date'])

    min_5 = pd.DataFrame({'avg_rating': avg_ratings,
                                    'n_ratings': n_ratings,
                                    'recent_rating':recent_rating.date})
    
    # get movies names
    movie_df = movies.copy(deep=True)
    
    if years is not None:
        movie_df = movie_df[movie_df['date'].isin(years)]
        
    if genres is not None:
        num_genre_match = movie_df[genres].sum(axis=1)
        movie_df = movie_df.loc[num_genre_match > 0, :]
    
    movie_df = movie_df.set_index('movie_id')[['movie']].join(min_5, how='inner')
    
    # sort by avg rating then number of ratings then the most recent review
    top_df = movie_df.sort_values(['avg_rating', 'n_ratings', 'recent_rating'], ascending=False)
    
       
    return list(top_df['movie'][:n_top])

In [32]:
popular_recommendations_filtered('1', 20, years=[2015, 2016, 2017, 2018], genres=['History', 'Comedy'])

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Make Like a Dog (2015)',
 'Be Somebody (2016)',
 'Poshter Girl (2016)',
 'Ayla: The Daughter of War (2017)',
 'I Believe in Miracles (2015)',
 'Bajrangi Bhaijaan (2015)',
 'The Farthest (2017)',
 'Ricky Gervais: Humanity (2018)',
 'Coco (2017)',
 'The Age of Spin: Dave Chappelle Live at the Hollywood Palladium (2017)',
 'Sado (2015)',
 'Adult Life Skills (2016)',
 'Hatred (2016)',
 'Inside Out (2015)',
 'La vida inmoral de la pareja ideal (2016)',
 'World of Tomorrow (2015)',
 'Toc Toc (2017)']